body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/site_mitose_biologia.github.io/img/Fundo-mitose.jpg);
    animation: fundomechendo 90s infinite linear;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img1, .img2{
    border-radius: 15%;
    max-width: 100%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

.img1{
    width: 80vw;
    max-width: 100%;
}

.img2 {
    width: 10vw;
    margin-right: 2%;
}



.Titulo{
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    color: white;
    background-color: transparent;
}

.Conteiner{
    margin-top: 1%;
display: flex;             
justify-content: center;
}


.Botao{
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
    width: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.822); 
    color: #d3d3d3; 
    border-radius: 5px; 
    
}

.Botao a{
    padding: 6% 22.1%;
    border-radius: 5px;
    text-decoration: none; 
    color: #d3d3d3; 
    transition: background-color 1.5s ease; 
}

.Botao a:hover {  
    background-color: #2fc4ffa6; 
    box-shadow: 0px 0px 5px 0px black; 
    color: white;      //Serve para quando passar o mouse o botão ficar azul
}



.Blocos{
    margin-top: 4%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}



.Bloco1{  
width: 35%;
color: white;
transition: transform 0.3s ease;
}

.Rodape{
    border-radius: 2%;
    margin-top: 1.8%;
    display: flex;
    flex-direction: row;
    text-align: center;
justify-content: center;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(2px);
    color: #ffffff; 
    height: 14vh;
    font-size: 1.2vw;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    padding: 1% 0;
}

 .Bloco1:hover {
    border-radius: 15%;   //Deixa a borda arredonda
    transform: scale(1.02);    //faz a escala abrir/aumentar a tecla
    box-shadow: 2px 2px 10px rgb(0, 0, 0);  //muda a cor conforme aumenta
}
.Bloco2:hover{
    transform: scale(1.02);   //Aumenta escala 
    box-shadow: 2px 2px 10px rgb(0, 0, 0);  //Da uma sombreada em volta
}

.Bloco1{
    height: 72vh;
}
.Bloco2{ 
    height: 70vh;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(2px);
    font-size: 1.3vw;
    border: solid 1px #ddd;
   display: flex;
   flex-direction: column; //ficar em coluna
   align-items: center;
    width: 35%;
color: white;
transition: transform 0.3s ease;  //Tem uma transição de cor e tamanho em 0,3s
p{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}


}

@keyframes fundomechendo {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }  //faz o fundo mexer
    100% { background-position: 0% 0%; }
}

@media (min-width: 481px) and (max-width: 768px) {
    
.Titulo{
    font-size: 2vw;
}

.Conteiner{
    a{
        font-size: 1.7vw;  //Link /a de link
    }
}

.Botao{
    width: 20%;
a{
    padding: 6% 22.9%;
}
}
.Blocos{
    margin-top: 8%;
}

.Bloco1{ 

    width: 45%;
}
.Bloco2{
    font-size: 1.8vw;
    width: 45%;
    height: 50vh;
}

.Rodape{
    p{
        margin-top: 3%;
    }
    margin-top: 8.1%;
    font-size: 1.6vw

}
.img2{
    width: 15%;
}
}


    @media screen and (max-width: 480px) {
        
        .Titulo{
            font-size: 3.5vw;
        }
        
        .Conteiner a {
            font-size: 2.3vw;  //link
        }
        
        .Botao {
            width: 50%;
        a {
            font-size: 230%;
            padding: 7% 31%;
        }
        }
        
        .Blocos {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
        }

        .Bloco1{
            display: flex;
            margin: 0 auto;
            font-size: 2vw;
            width: 80%;
            height: 35vh;

        }
        .Bloco2 {
            width: 80%;
            margin: 0 auto;
            font-size: 2.9vw;
            h2{
                margin-top: 10%;
            }
        }
        
        .Bloco2 {
            height: 42vh;
        }
        
        .Rodape p {
            margin-top: 6%;
        }
        
        .Rodape {
            margin-top: 8.1%;
            font-size: 2.5vw;
        }
        .img1{
            height: 33vh;
            width: 100vw;
        }
        .img2 {
            margin-top: 1%;
            width: 30%;
            height: 13vh;
            margin-left: 1.1%;
        }
        
       
    }
    